.contact {
  display: flex;
  flex: 1 1 5%;
  max-height: 40px;
  min-height: 40px;
  align-items: center;
  justify-content: space-around;
  background: $blue;
  &__status {
    font-style: italic;
  }
  img {
    cursor: pointer;
  }
}
